
<div class="jumbotron">
  <div class="container">
    <p>Información de los mejores clanes</p>
    <h1 class="titulo">Lo Mejor de Naruto Shippuden</h1>
    <a href="www.zonarutoppuden.com/2010/10/naruto-shippuden-capitulos.html" target="_blank" class="btn btn-default">
      Ver los episodios
      <span class="glyphicon glyphicon-eye-open" style=" color:green"></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display:inline">Clan Uzumaki</h2>
        <span class="label label-default">New</span>
      </div>
     <!-- <a href="">Ve los episodios</a> -->
     <!-- <a href="http://en1mes.com" target="_blank">En1Mes</a> -->
      <p>
        El Clan Uzumaki (うずまき一族, Uzumaki Ichizoku) fue un prominente clan de Uzushiogakure.
        Eran parientes lejanos del Clan Senju y por lo tanto ambos clanes estaban en buenos términos, una alianza
        que se extendía a sus aldeas ocultas - Konohagakure y Uzushiogakure.
        Los Shinobis de Konoha aun utilizan el símbolo de Uzushiogakure en sus chalecos, así como sobre los hombros de sus uniformes
        como señal de la amistad y buena voluntad entre los dos pueblos, y continuá haciéndolo hasta hoy,
        en recuerdo de su amistad e incluso años después de la destrucción de Uzushiogakure.
        <img src="http://pm1.narvii.com/6043/ad1aa1066f5d371f3a81042ea9aa45e523dc4943_hq.jpg"  class="img-responsive">
      </P>

      <div class="page-header">
        <h2>Clan Hyuga</h2>
      </div>
      <p>
        El Clan Hyūga (日向一族, Hyūga Ichizoku) es uno de los cuatro clanes nobles de Konohagakure.
        Todos los miembros de este clan poseen desde el nacimiento su Kekkei Genkai, el Byakugan que
        les otorga una visión aumentada y la capacidad de ver a través de objetos sólidos, a parte de poder
        ver el Sistema de Circulación de Chakra. Los miembros de este clan poseen la habilidad única de expulsar
        Chakra de cualquiera de sus Tenketsu.
        <img src="http://pm1.narvii.com/6297/e8f93de447fff2afd34c92eef34ac52eda6a7a66_hq.jpg" class="img-responsive">
      </p>

    </div>


    <div class="col-md-4">
      <div class="page-header">
        <h2>Clan Uchiha</h2>
      </div>
      <p>El Clan Uchiha, también conocido como Clan del Sharingan es uno de los clanes más poderosos junto al Clan Senju.
        Debido a sus grandes habilidades en todos los tipos de combates se ganaron el apodo de el Clan de la Guerra.
        Los Uchihas son descendientes del hijo mayor del Sabio de los Seis Caminos, dicho ancestro tenía la idea de que
        el "poder" era la única forma de conseguir la paz que su padre deseaba. Sin embargo el Rikudō eligió a su hijo menor
        como el que heredaría su legado ya que creía que el "amor" era la forma de conseguir la paz, pero esta decisión fue tomada
        mal por su hermano mayor ya que se enfrentó a su propio hermano para recuperar lo que consideraba suyo, desde ese momento se
        formó lo que se conoce como La Maldición del Odio. Los descendientes del hijo menor serían los Senju, causando que se formara
        una rivalidad entre los Uchiha y los Senjus.
        <img src="http://pm1.narvii.com/5780/a2d9c2b99715c360ab3a66827dd35161f504f09f_hq.jpg"  class="img-responsive">
      </P>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2>Clan Ōtsutsuki</h2>
      </div>
      <p>
        El Clan Ōtsutsuki (大筒木一族, Ōtsutsuki Ichizoku) es un clan de seres alienígenas que llegaron a la Tierra aproximadamente hace unos 1.000 años.
        Los Ōtsutsuki tuvieron una gran influencia en la humanidad, comenzando la historia de los Shinobis.
        Al ser los ancestros de todos los Shinobis, son los progenitores de clanes notables en el mundo como el Senju, Uchiha, Hyūga, Uzumaki y Kaguya.
        Por otro lado los Ōtsutsuki de la Luna fueron los creadores de las Marionetas y por lo tanto de su utilización en combate.
        <img src="https://i.ytimg.com/vi/Cr2bcI-U3ZA/maxresdefault.jpg" class="img-responsive">
        </P>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2>Clan Senju</h2>
      </div>
      <p>
        El Clan Senju (千手一族, Senju Ichizoku) también conocido como El Clan de las Mil Habilidades (千の手を持つ一族, Sen no te o Motsu Ichizoku)
        o el Clan Senju del Bosque (森の千手一族, Mori no Senju Ichizoku) fue considerado el clan más poderoso del mundo shinobi durante
        la Era de Guerra entre Clanes, durante este tiempo sostuvo una ardua rivalidad con el Clan Uchiha quien era el único que podía
        medirse con ellos. Ambos clanes eran rivales y sostenían batallas feroces, pero posteriormente decidieron aliarse y formar Konohagakure.
        Son parientes lejanos del Clan Uzumaki.
        <img src="https://i.ytimg.com/vi/BEtg4Ieu6T8/hqdefault.jpg" class="img-responsive">
      </p>
    </div>



      <!--
      <a href="https://www.acmilan.com/en">
        <img src="" >
      </a>
      <hr>
      <br> -->
<!--
      <img src="">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul> -->
    </div>
  </div>

